body {
    display: flex;
    flex-flow: column;
    height: 100vh;
    background-color: black;
}

header {
    width: 100%;
    height: 5vh;
    background-color: gray;
}

main {
    width: 100%;
    background-color: black;
    flex-grow: 1;
}

footer {
    width: 100%;
    height: 5vh;
}

div#bubble-diagram {
    width: 49%;
    height: 98%;
    float: left;
    margin: 5px;
    background-color: whitesmoke;
    border: 1px;
}

div#scatterplot-diagram {
    width: 49%;
    height: 98%;
    float: right;
    margin: 5px;
    background-color: whitesmoke;
    border: 1px;
}

.loading {
    font-size: 3em;
    text-align: center;
    margin: auto;
}